:root {
    --marroncito: #BD7451;
    --gris-calido: #564D46;
    --celeste: #93A39E;
    --beigecito: #BE9A7A;
    --azulcito: #2D6069;
    --esmeralda: #076D60;
    --azul-prof: #1E2537;
    --blanco: #FFFFFF;
}

main .nuestros-trabajos {
    width: 100%;
    height: 600px;
    background-color: orange;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;
}